header{
    background-color: #1abc9c;
    height: 400px;
    margin-bottom: 50px;
}

.my-main-title{
    text-align: center;
}

.my-bg-red-box{
    background-color: red;
    height: 200px;
    border: 1px solid black;
}

.my-about-section,
.my-img-container,
.my-contact-section {
    margin-bottom: 50px;
}

.my-bg-red-small-box{
    background-color: red;
    height: 50px;
    border: 1px solid black;
}

.my-footer-section{
    background-color: #3a546d;
}

.my-dark-container{
    background-color: #2c3e50;
    height: 150px;
}

.my-about-section{
    background-color: #1abc9c;
}